.mow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  text-align: left;
  .mo {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: 100%;
    overflow-y: auto;
    background-color: #fff;
    min-width: 250px;
    width: 80%;
    max-width: 800px;
    @media only screen and (max-width: 390px) {
      display: block;
    }
    .msgi {
      flex: 1;
      background-size: cover;
      background-position: center;
      min-height: 100px;
      @media only screen and (max-width: 390px) {
        width: 100%;
        height: 120px;
      }
      &.no_text {
            position: relative;
            min-height: 200px;
            @media only screen and (max-width: 390px) {
                min-height: 120px;
            }

        & .btn {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
        }
      }
    }
    .msg {
      padding: 15px;
      color: #333;
      flex: 1;
      h2 {
        margin: 0;
        &+p {
            margin-top: 10px;
        }
      }
      p {
        font-size: 13px;
        &+a {
            margin-top: 10px;
        }
      }
    }
  }
}
