@import './variables';

@mixin transition($transition_duration, $transition_timing_function, $transition_delay, $transition_property) {
  transition-duration: $transition_duration;
  transition-timing-function: $transition_timing_function;
  transition-delay: $transition-delay;
  transition-property: $transition-property;
}

@mixin animationPaused() {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

// Adaptation
@mixin minWidth($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}
@mixin maxWidth($screen) {
  @media (max-width: $screen+'px') {
    @content;
  }
}

// Timeline left line line
@mixin timeLinePseudoElement() {
  content: ' ';
  position: absolute;
  width: 1px;
  background-color: $timeline-items-color;
  top: 0;
  bottom: 0;
  left: $timeline-left-indent;
  z-index: 0;

  @include maxWidth(799) {
    left: $timeline-left-indent--mobile;
  }
}
