// Blocks
$block-top-margin: 10px;

// Timeline block
$timeline-block-left-padding: 70px;
$timeline-left-indent: 40px;
$timeline-left-indent--mobile: 7vw;
$timeline-image-description-color: #626262;
$timeline-items-color: #000000;
