@import './../variables';
@import './../mixins';

.block {
  font-family: 'Helvetica', 'Arial', sans-serif;
  position: relative;
  margin-top: $block-top-margin;

  > * {
    position: relative;
  }
  &:last-child {
    margin-bottom: 10px;
  }
  a {
    color: #06c;
  }
  strong {
    font-weight: bold;
  }
  img {
    vertical-align: top;
  }

  &.__1 {
    font-size: 13px;
    min-height: 13px;
    padding: 12px 15px;
    ul {
      padding-left: 3em;
      list-style: disc;
    }
    ol {
      padding-left: 3em;
      list-style: decimal;
    }
  }
  &.__2 {
    position: relative;
    min-height: 100px;
    width: 100%;
    text-align: center;
    img {
      max-width: 100%;
    }
    .cur {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      cursor: pointer;
      width: 82px;
      height: 97px;
      line-height: normal;
      animation: clickhint 4s infinite;
    }
    .__blur {
      cursor: pointer;
      img {
        filter: blur(15px);
      }
      .cur {
        display: block;
      }
    }
  }
  &.__6, &.__7, &.__8 {
    text-align: center;
  }
  &.__9 {
    background-color: #fff;
    padding: 40px 0;
    > div.wrapper {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 0;
      > div.cover {
        > img {
          width: 100%;
          height: 600px;
          object-fit: cover;
          @include maxWidth(799) {
            height: 320px;
            padding-bottom: 24px;
          }
        }
        > div.box {
          position: relative;
          padding: 28px 60px 0;
          margin: -112px 20px 0;
          background: #fff;
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
          border-radius: 8px;
          text-align: center;
          @include maxWidth(799) {
            margin: 0;
            border-radius: 0;
            background-color: transparent;
            box-shadow: none;
            padding: 0 12px 0;
          }
          &.no-image {
            margin-top: 0 !important;
          }
          > div.header {
            font-weight: 500;
            font-size: 36px;
            line-height: 42px;
            color: #000;
            margin-bottom: 16px;
            white-space: pre-line;
            @include maxWidth(799) {
              font-size: 24px;
              line-height: 28px;
              margin-bottom: 20px;
            }
          }
          > div.description {
            font-size: 20px;
            line-height: 28px;
            color: #000;
            margin-bottom: 20px;
            white-space: pre-line;
            @include maxWidth(799) {
              font-size: 18px;
              line-height: 28px;
              margin-bottom: 28px;
            }
          }
          > div.btn-wrap {
            overflow: hidden;
            > div.button-block {
              margin-bottom: 24px;
              > button {
                outline: none;
                cursor: pointer;
                border: 0;
                padding: 0 44px;
                height: 50px;
                white-space: nowrap;
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
                border-radius: 4px;
                color: #fff;
                font-size: 20px;
                @include transition(0.1s, ease-in-out, 0s, (opacity));
                &:hover {
                  opacity: .8;
                }
                @include maxWidth(799) {
                  height: 46px;
                  font-size: 18px;
                }
              }
            }
          }
          > div.image-disclaimer {
            padding-bottom: 16px;
            font-size: 14px;
            line-height: 16px;
            color: #B7B7B7;
            @include maxWidth(799) {
              font-size: 12px;
              line-height: 14px;
              padding-bottom: 0;
            }
          }
        }
      }
      > div.question {
        padding: 0 20px;
        @include maxWidth(799) {
          padding: 0 12px;
        }
        .size {
          &--big {
            font-size: 36px;
            line-height: 42px;
            @include maxWidth(799) {
              font-size: 24px;
              line-height: 28px;
            }
          }
          &--medium {
            font-size: 28px;
            line-height: 32px;
            @include maxWidth(799) {
              font-size: 18px;
              line-height: 28px;
            }
          }
          &--small {
            font-size: 24px;
            line-height: 32px;
            @include maxWidth(799) {
              font-size: 18px;
              line-height: 28px;
            }
          }
        }
        > div.img {
          position: relative;
          > span.counter {
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, .25);
            padding: 5px 16px 3px;
            font-size: 16px;
            font-style: italic;
            color: #7C7C7C;
            position: absolute;
            top: 16px;
            left: 16px;
            @include maxWidth(799) {
              position: static;
              font-size: 14px;
              display: flex;
              align-items: center;
              padding: 0 0 14px;
              border-radius: 0;
              box-shadow: none;
              background-color: transparent;
            }
          }
          > img {
            width: 100%;
            height: 508px;
            object-fit: cover;
            border-radius: 8px;
            overflow: hidden;
            @include maxWidth(799) {
              height: 274px;
              border-radius: 0;
              margin: 0 -12px;
              width: calc(100% + 24px);
            }
          }
          > div.text-wrap {
            display: flex;
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
            justify-content: center;
            @include maxWidth(799) {
              position: static;
              margin: 24px 0 0;
              left: 0;
              right: 0;
            }
            > div.text {
              text-align: center;
              font-weight: 500;
              color: #000;
              background-color: #FFF;
              border-radius: 8px;
              padding: 14px 24px 16px;
              box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
              max-width: 100%;
              box-sizing: border-box;
              white-space: pre-line;
              @include maxWidth(799) {
                box-shadow: none;
                background-color: transparent;
                padding: 0;
              }
            }
          }
        }
        > div.no-img {
          position: relative;
          padding: 60px 40px;
          background-color: #fff;
          border: 1px solid #AB9393;
          border-radius: 8px;
          @include maxWidth(799) {
            border: 0;
            padding: 0;
            border-radius: 0;
          }
          > span.counter {
            background: #FFF;
            border-radius: 20px;
            padding: 5px 16px 3px;
            font-size: 16px;
            font-style: italic;
            color: #7C7C7C;
            position: absolute;
            top: 16px;
            left: 16px;
            @include maxWidth(799) {
              position: static;
              font-size: 14px;
              display: flex;
              align-items: center;
              padding: 0 0 14px;
              border-radius: 0;
            }
          }
          > div.text {
            text-align: center;
            font-weight: 500;
            color: #000;
            white-space: pre-line;
          }
        }
        > ul.list {
          margin-top: 20px;
          &.is-image {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: -24px;
            @include maxWidth(799) {
              margin-bottom: -20px;
            }
          }
          > li.item {
            cursor: pointer;
            padding: 20px 80px 20px 40px;
            background: #FFF;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            margin-bottom: 10px;
            position: relative;
            @include maxWidth(799) {
              padding: 20px 42px 20px 16px;
            }
            &:last-child {
              margin-bottom: 0;
            }
            &.is-image {
              box-shadow: none;
              margin: 0 16px 24px 0;
              padding: 0;
              width: 178px;
              @include maxWidth(799) {
                width: calc(50% - 5px) !important;
                margin: 0 10px 20px 0 !important;
                &:nth-child(even) {
                  margin-right: 0 !important;
                }
              }
              &.is-big {
                width: 242px;
                margin-right: 17px;
                &:nth-child(4n) {
                  margin-right: 17px;
                }
                &:nth-child(3n) {
                  margin-right: 0;
                }
                > div.image {
                  > img {
                    height: 242px;
                  }
                }
              }
              &:nth-child(4n) {
                margin-right: 0;
              }
              &.is-disabled:not(.is-selected) > div.image {
                opacity: .5;
              }
              &:after {
                right: auto;
                left: 12px;
                top: 12px;
                transform: none;
              }
              > div.image {
                > img {
                  width: 100%;
                  height: 178px;
                  object-fit: cover;
                  filter: drop-shadow(0 4px 20px rgba(0,0,0,.12));
                  border-radius: 4px;
                  overflow: hidden;
                  @include maxWidth(799) {
                    width: 100%;
                  }
                  @include maxWidth(567) {
                    height: 170px !important;
                  }
                }
                > p {
                  font-family: 'Roboto', sans-serif;
                  line-height: 24px;
                  font-size: 20px;
                  color: #000;
                  margin-top: 12px;
                  @include maxWidth(799) {
                    line-height: 20px;
                    font-size: 16px;
                  }
                }
              }
            }
            &.is-selected:not(.is-image) {
              background-color: #F7F7F7;
              box-shadow: inset 0 0 0 1px #D8D8D8;
            }
            &:after {
              content: '';
              position: absolute;
              right: 24px;
              //top: 24px;
              top: 50%;
              transform: translateY(-50%);
              width: 28px;
              height: 28px;
              border-radius: 50%;
              background-repeat: no-repeat;
              background-position: center;
              @include maxWidth(799) {
                width: 20px;
                height: 20px;
                right: 12px;
              }
            }
            &.is-disabled {
              pointer-events: none;
            }
            &.is-correct {
              &:after {
                background-color: #94C184;
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.81641 5.99995L7.83317 11.8333L16.6236 1.05249' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                @include maxWidth(799) {
                  background-size: 12px;
                }
              }
              > p.description {
                color: #86BD73;
              }
            }
            &.is-incorrect {
              &:after {
                background-color: #EE7171;
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.16699 1.16675L12.8337 12.8334' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.834 1.16675L1.16732 12.8334' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                @include maxWidth(799) {
                  background-size: 10px;
                }
              }
              > p.description {
                color: #EE7171;
              }
            }
            > div.text {
              font-size: 20px;
              line-height: 28px;
              color: #000;
              white-space: pre-line;
              @include maxWidth(799) {
                font-size: 18px;
                line-height: 24px;
              }
            }
            > p.description {
              font-size: 16px;
              line-height: 18px;
              color: transparent;
              margin-top: 8px;
              white-space: pre-line;
              @include maxWidth(799) {
                line-height: 16px;
                font-size: 14px;
                padding-left: 0;
                position: relative;
              }
            }
          }
        }
        > div.image-disclaimer {
          margin-top: 28px;
          font-size: 14px;
          line-height: 16px;
          color: #B7B7B7;
          text-align: center;
        }
        > div.button-block {
          margin-top: 20px;
          text-align: center;
          > button {
            outline: none;
            cursor: pointer;
            border: 0;
            padding: 0 44px;
            height: 50px;
            white-space: nowrap;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            color: #fff;
            font-size: 20px;
            line-height: 24px;
            @include transition(0.1s, ease-in-out, 0s, (opacity));
            &:hover {
              opacity: .8;
            }
          }
        }
      }
      > div.result {
        position: relative;
        > div.head-wrap {
          position: absolute;
          top: 15px;
          left: 12px;
          right: 12px;
          display: flex;
          justify-content: center;
          @include maxWidth(799) {
            display: none;
          }
          > div.head {
            background: #fff;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #6A6A6A;
            padding: 11px 20px 9px;
            white-space: pre-line;
            max-width: 100%;
            box-sizing: border-box;
          }
        }
        > img {
          width: 100%;
          height: 600px;
          object-fit: cover;
          @include maxWidth(799) {
            height: 314px;
          }
        }
        > div.box {
          position: relative;
          padding: 54px 60px 0;
          margin: -112px 20px 0;
          background-color: #fff;
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
          border-radius: 8px;
          text-align: center;
          @include maxWidth(799) {
            box-shadow: none;
            margin: 0;
            background-color: transparent;
            border-radius: 0;
            padding: 46px 12px 0;
          }
          &.no-image {
            margin-top: 0 !important;
            padding-top: 40px;
            > div.counter {
              @include maxWidth(799) {
                position: static;
                transform: none;
                margin: 0 auto 24px;
              }
            }
          }
          > div.counter {
            background: #fff;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            width: 120px;
            height: 58px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 500;
            font-size: 36px;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            @include maxWidth(799) {
              width: 114px;
              height: 48px;
              font-size: 28px;
            }
          }
          > div.header {
            font-weight: 500;
            font-size: 36px;
            line-height: 42px;
            color: #000;
            margin-bottom: 16px;
            white-space: pre-line;
            @include maxWidth(799) {
              font-size: 24px;
              line-height: 28px;
            }
          }
          > div.description {
            font-size: 20px;
            line-height: 28px;
            color: #000;
            margin-bottom: 20px;
            white-space: pre-line;
            @include maxWidth(799) {
              font-size: 16px;
              line-height: 24px;
            }
          }
          > div.btn-wrap {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            > div.link-block {
              margin-bottom: 12px;
              > button {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                display: flex;
                outline: none;
                cursor: pointer;
                border: 0;
                padding: 0 44px;
                height: 52px;
                align-items: center;
                white-space: nowrap;
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
                border-radius: 4px;
                color: #fff;
                @include transition(0.1s, ease-in-out, 0s, (opacity));
                &:hover {
                  opacity: .8;
                }
                @include maxWidth(799) {
                  height: 46px;
                  font-size: 18px;
                }
              }
            }
            > div.button-block {
              margin-bottom: 24px;
              > button {
                outline: none;
                height: 50px;
                background-color: #fff;
                border: 1px solid #D8D8D8;
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 20px;
                line-height: 24px;
                color: #787878;
                cursor: pointer;
                padding: 0 40px 0 66px;
                background-repeat: no-repeat;
                background-position: 40px 50%;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 12C15 15.866 11.866 19 8 19C4.13401 19 1 15.866 1 12C1 8.13401 4.13401 5 8 5H10' stroke='%23787878' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M7 9L11 5L7 1' stroke='%23787878' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                @include transition(0.1s, ease-in-out, 0s, (opacity));
                &:hover {
                  opacity: .8;
                }
                @include maxWidth(799) {
                  height: 46px;
                  font-size: 18px;
                }
              }
            }
          }
          > div.image-disclaimer {
            padding-bottom: 16px;
            font-size: 14px;
            line-height: 16px;
            color: #B7B7B7;
          }
        }
      }
    }
  }
}

// region Timeline block
.timeline-block {
  padding: 33px 12px 30px 70px;

  ~ .block:not(.timeline-block):not(.text-block) {
    &::before {
      @include timeLinePseudoElement();

      top: -$block-top-margin;
    }
  }
  &.timeline-end ~ .block {
    &::before {
      display: none;
    }
  }
  @include maxWidth(799) {
    padding: 20px 4vw 20px 14vw;
  }

  ~ .timeline-block, // All but first
  + :not(.timeline-block) { // If next one is not a timeline block - pull it up!
    margin-top: 0;
  }
  + .timeline-block {
    // Because of using padding instead of margins we have to imitate the margin-collapsing
    padding-top: 3px;

    &::after {
      top: 25px;
    }
  }
  &::before {
    @include timeLinePseudoElement();
  }
  &::after {
    content: ' ';
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: $timeline-items-color;
    top: 53px;
    left: 35px;
    border-radius: 5.5px;

    @include maxWidth(799) {
      top: 42px;
      left: calc(7vw + 1px);
      transform: translateX(-50%);
    }
  }

  &__mark {

  }
  &__mark-title,
  &__mark-subtitle {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
  }
  &__mark-title {
    font-size: 40px;
    line-height: 45px;
  }
  &__mark-subtitle {
    font-size: 32px;
    line-height: 28px;
  }
  &__image-with-description {
    @include minWidth(800) {
      width: 33%;
      min-width: 33%;
      margin-right: 20px;
    }
  }
  &__image-container {
    @include minWidth(800) {
      margin-bottom: 15px;
    }
    @include maxWidth(799) {
      width: 32vw;
      float: left;
      margin: 0 4vw 4vw 0;
    }
  }
  &__image {
    width: 100%;

    //@include maxWidth(799) {
    //  width: 32vw;
    //  float: left;
    //  margin: 0 4vw 3vw 0;
    //}
  }
  &__image-description {
    color: $timeline-image-description-color;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    @include maxWidth(799) {
      margin-bottom: 4vw;
    }
  }
  &__content {
    @include minWidth(800) {
      display: flex;
    }
  }
  &__text {
    flex-grow: 1;
  }
}
// endregion
