.text-area {
  transform: translateY(-50%);
  box-sizing: border-box;
  position: absolute;
  color: #333;
  padding: 3%;
  background: transparent;
  resize: none !important;
  width: 90%;
  top: 50%;
  left: 5%;
  &-cnt {
    position: absolute;
    color: #fff;
    background: transparent;
    overflow: visible;
    width: 100%;
    height: 100%;
  }
}