.vc {
  position: relative;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTM2IiBoZWlnaHQ9IjEzNiIgdmlld0JveD0iMCAwIDEzNiAxMzYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik05Ni4zMzMzIDU5LjVWMzkuNjY2N0M5Ni4zMzMzIDM2LjU1IDkzLjc4MzMgMzQgOTAuNjY2NyAzNEgyMi42NjY3QzE5LjU1IDM0IDE3IDM2LjU1IDE3IDM5LjY2NjdWOTYuMzMzM0MxNyA5OS40NSAxOS41NSAxMDIgMjIuNjY2NyAxMDJIOTAuNjY2N0M5My43ODMzIDEwMiA5Ni4zMzMzIDk5LjQ1IDk2LjMzMzMgOTYuMzMzM1Y3Ni41TDExOSA5OS4xNjY3VjM2LjgzMzNMOTYuMzMzMyA1OS41WiIgZmlsbD0iI0Q4RDhEOCIvPgo8L3N2Zz4K");
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}